.home {
	margin-right: 0px;
	margin-left: 0px;
}

.homeImage {
	height: 106px;
	background-image: url('/img/logo.png');
	background-size: contain;
	background-repeat: no-repeat;
	width: 256px;
	background-position: center;
	margin-right: 10px;
	margin-left: 10px;
}