* {
	font-family: 'Press Start 2P', sans-serif;
}

body {
	background: #000;
}

p {
	font-size: 14px;
	text-align: center;
	color: #fff;
}

.row {
	margin-right: 0px;
	margin-left: 0px;
}

.header,
.footer {
	padding-left: 15px;
	padding-right: 15px;
}

.header {

}

.footer { 
	position: relative;
	top: 81px;
	padding-bottom: 19px;
	font-size: 12px;
	padding-top: 19px;
	background: #fff;
}

.textarea {
	padding-top: 10px;
	padding-bottom: 10px;
	max-width: 50%;
	margin-right: auto;
	margin-left: auto;
}

.view {
	position: relative;
	top: 80px;
	min-height: calc(~"100vh - 136px");
}