<div class="row clips">
	<div class="col">
		<video width="500" height="280" autoplay loop muted playinline>
			<source src="/img/clip1.mp4" type="video/mp4">
			<!-- <img width="500" height="280" src="/img/clip1.png"> -->
		</video>
	</div>

	<div class="col">
		<video width="500" height="280" autoplay loop muted playinline>
			<source src="/img/clip2.mp4" type="video/mp4">
		</video>
	</div>

	<div class="col">
		<video width="500" height="280" autoplay loop muted playinline>
			<source src="/img/clip3.mp4" type="video/mp4">
		</video>
	</div>
</div>